@page
@model IELTSRegistrationEF.Pages.Registrations.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Registration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.PassportNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.PassportNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.TestType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.TestType)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Registration.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
