@page
@model IELTSRegistrationEF.Pages.Registrations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.PassportNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.PassportNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.TestType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.TestType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Registration.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
